workflows/bot-gather-handle.json
{
  "name": "Bot Gather Handle",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gather",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "db5254f9-60fe-4803-8991-12574f0a4740",
      "name": "Webhook",
      "webhookId": "3b2a211d-ea2f-4dfa-9440-754b1757b161"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8692947d-4564-4e8f-985a-d75e339f3172",
              "name": "patient_phone",
              "value": "={{ $json.body.From }}",
              "type": "string"
            },
            {
              "id": "8b080be6-f9ee-4adc-be25-b667cde987f9",
              "name": "call_sid",
              "value": "={{ $json.body.CallSid }}",
              "type": "string"
            },
            {
              "id": "8ec2772c-7c13-4a11-9182-3791b4e4e9c9",
              "name": "twilio_transcript",
              "value": "={{ $json.body.SpeechResult }}",
              "type": "string"
            },
            {
              "id": "1be6f853-2b7b-4a0c-9759-8dc986297829",
              "name": "confidence",
              "value": "={{ $json.body.Confidence }}",
              "type": "string"
            },
            {
              "id": "a1789b10-070e-4804-bf12-5921e48e33a0",
              "name": "prev_name",
              "value": "={{ $json.query.prev_name || $json.body.prev_name || \"\" }}",
              "type": "string"
            },
            {
              "id": "d6fb4e6f-56b5-4bfb-aa13-5ab60b1c2e2e",
              "name": "prev_date",
              "value": "={{ $json.query.prev_date || $json.body.prev_date || \"\" }}",
              "type": "string"
            },
            {
              "id": "feb79a6e-13a9-4379-910c-73b10e0941a3",
              "name": "prev_reason",
              "value": "={{ $json.query.prev_reason || $json.body.prev_reason || \"\" }}",
              "type": "string"
            },
            {
              "id": "0abf1e08-d28e-4089-93f6-c68e28d1ef78",
              "name": "prev_booking_for",
              "value": "={{ $json.query.prev_booking_for || $json.body.prev_booking_for || \"\" }}",
              "type": "string"
            },
            {
              "id": "73626c1d-8ce3-4289-881b-306756ab14e5",
              "name": "prev_time_slot",
              "value": "={{ $json.query.prev_time_slot || $json.body.prev_time_slot || \"\" }}",
              "type": "string"
            },
            {
              "id": "8e53535f-71c2-43f6-8919-741b071973ff",
              "name": "attempt",
              "value": "={{ $json.query.attempt || $json.body.attempt || \"1\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0f58e4b7-a712-4c00-9e20-c4abc8cbce98",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04b7fb1c-f25b-45c0-a878-0144adc19e8a",
              "leftValue": "={{ $json.twilio_transcript }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "f57d149d-d1bc-4fbf-9e5f-cbfa78b6c615",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Gather input=\"speech\" language=\"hi-IN\" speechTimeout=\"4\" action=\"https://tannish13.app.n8n.cloud/webhook/gather\" method=\"POST\"><Say language=\"hi-IN\">क्षमा करें, मुझे कुछ सुनाई नहीं दिया। कृपया दोबारा बोलें।</Say></Gather><Say language=\"hi-IN\">कृपया बाद में कॉल करें।</Say></Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        656,
        64
      ],
      "id": "1f3b32bf-86cb-40bb-bddb-b6963a226950",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const transcript = $input.first().json.final_transcript || \"\";\nconst phone      = $input.first().json.patient_phone || \"\";\nconst callSid    = $input.first().json.call_sid || \"\";\nconst prevName       = $input.first().json.prev_name        || null;\nconst prevDate       = $input.first().json.prev_date        || null;\nconst prevReason     = $input.first().json.prev_reason      || null;\nconst prevBookingFor = $input.first().json.prev_booking_for || null;\nconst attempt    = $input.first().json.attempt     || \"1\";\n\nconst slots = {\n  name: null,\n  date: null,\n  reason: null,\n  raw_text: transcript,\n  phone: phone,\n  call_sid: callSid\n};\n\n// --- NAME EXTRACTION ---\nconst namePatterns = [\n  // Hinglish: \"Priya ke liye appointment\" — name at start\n/^([A-Z][a-z]+)\\s+ke\\s+liye/,\n  // Self booking: \"मेरा नाम X है\"\n  // Hinglish: \"unka naam X hai\"\n  /unka\\s+naam\\s+([^\\s,।]+)/i,\n  \n  // Hinglish: \"naam X hai\"  \n  /naam\\s+([A-Z][^\\s,।]*)/i,\n  \n  // उनका/उसका नाम X है\n  /(?:उनका|उसका|इनका|उनकी|उसकी)\\s+नाम\\s+([^\\s,।]+(?:\\s+[^\\s,।]+)?)/i,\n  /(?:मेरा\\s+नाम|नाम)\\s+([^\\s,।]+(?:\\s+[^\\s,।]+)?)\\s*(?:है|हूँ)?/,\n  \n  // Self: \"मैं X बोल रहा/रही हूँ\"\n  /मैं\\s+([^\\s,।]+(?:\\s+[^\\s,।]+)?)\\s*(?:हूँ|बोल\\s+रह)/,\n  \n  // Third party: \"मेरी मां/पापा/बेटी का नाम X है\"\n  /(?:मेरी|मेरे)\\s+(?:मां|माँ|मम्मी|पापा|बाबा|पिता|बेटी|बेटे|बच्चे|बच्ची|दादी|दादा|नानी|नाना|पत्नी|पति|भाई|बहन)\\s+(?:का|की|के)\\s+नाम\\s+([^\\s,।]+(?:\\s+[^\\s,।]+)?)/,\n  \n  // Third party short: \"X के लिए appointment\"\n  /([^\\s,।]+(?:\\s+[^\\s,।]+)?)\\s+के\\s+लिए\\s+(?:अपॉइंटमेंट|appointment|दिखाना)/i,\n  \n  // Third party: \"उनका/उसका नाम X है\"\n  /(?:उनका|उसका|इनका)\\s+नाम\\s+([^\\s,।]+(?:\\s+[^\\s,।]+)?)/,\n\n  // Called by name: \"X बोल रहा/रही हूँ\"\n  /([^\\s,।]{2,})\\s+बोल\\s+रह[ाी]/,\n];\n// --- RELATION DETECTION ---\nconst relations = {\n  \"मां\": \"Mother\", \"माँ\": \"Mother\", \"मम्मी\": \"Mother\",\n  \"पापा\": \"Father\", \"बाबा\": \"Father\", \"पिता\": \"Father\",\n  \"बेटी\": \"Daughter\", \"बेटे\": \"Son\", \"बच्चे\": \"Child\",\n  \"पत्नी\": \"Wife\", \"पति\": \"Husband\",\n  \"दादी\": \"Grandmother\", \"दादा\": \"Grandfather\",\n  \"नानी\": \"Grandmother\", \"नाना\": \"Grandfather\",\n  \"भाई\": \"Brother\", \"बहन\": \"Sister\",\n  \"papa\": \"Father\", \"pita\": \"Father\", \"baap\": \"Father\",\n\"maa\": \"Mother\", \"mama\": \"Mother\", \"mummy\": \"Mother\",\n\"beti\": \"Daughter\", \"beta\": \"Son\", \"bachche\": \"Child\",\n\"dadi\": \"Grandmother\", \"dada\": \"Grandfather\",\n\"nani\": \"Grandmother\", \"nana\": \"Grandfather\",\n\"bhai\": \"Brother\", \"behen\": \"Sister\", \"bhan\": \"Sister\"\n};\n\nslots.booking_for = \"Self\";\nfor (const [hindi, english] of Object.entries(relations)) {\n  if (transcript.includes(hindi)) {\n    slots.booking_for = english;\n    break;\n  }\n}\nfor (const pattern of namePatterns) {\n  const match = transcript.match(pattern);\n  if (match) { slots.name = match[1].trim(); break; }\n}\n// Blacklist common Hindi words that are not names\nconst notNames = [\"कल\", \"आज\", \"परसों\", \"बुखार\", \"खांसी\", \"दर्द\", \"नहीं\", \"है\", \"हूँ\", \"आना\", \"जाना\", \"कल\", \"थोड़ा\", \"सांस\"];\nif (slots.name && notNames.includes(slots.name.trim())) {\n  slots.name = null;\n}\n\n// --- DATE EXTRACTION ---\nconst today = new Date();\nconst tomorrow = new Date(today);\ntomorrow.setDate(today.getDate() + 1);\nconst dayAfter = new Date(today);\ndayAfter.setDate(today.getDate() + 2);\n\nconst monthMap = {\n  \"जनवरी\":0,\"फरवरी\":1,\"मार्च\":2,\"अप्रैल\":3,\n  \"मई\":4,\"जून\":5,\"जुलाई\":6,\"अगस्त\":7,\n  \"सितंबर\":8,\"अक्टूबर\":9,\"नवंबर\":10,\"दिसंबर\":11\n};\n\nif (transcript.includes(\"आज\")) {\n  slots.date = today.toLocaleDateString(\"en-IN\");\n} else if (transcript.includes(\"कल\")) {\n  slots.date = tomorrow.toLocaleDateString(\"en-IN\");\n} else if (transcript.includes(\"परसों\")) {\n  slots.date = dayAfter.toLocaleDateString(\"en-IN\");\n} else {\n  for (const [monthName, monthNum] of Object.entries(monthMap)) {\n    const monthPattern = new RegExp(`(\\\\d{1,2})\\\\s*${monthName}`);\n    const match = transcript.match(monthPattern);\n    if (match) {\n      const d = new Date(today.getFullYear(), monthNum, parseInt(match[1]));\n      slots.date = d.toLocaleDateString(\"en-IN\");\n      break;\n    }\n  }\n  if (!slots.date) {\n    const numMatch = transcript.match(/(\\d{1,2})\\s*(?:तारीख|को)/);\n    if (numMatch) {\n      const d = new Date(today.getFullYear(), today.getMonth(), parseInt(numMatch[1]));\n      slots.date = d.toLocaleDateString(\"en-IN\");\n    }\n  }\n}\n\n// --- REASON EXTRACTION ---\nconst medicalKeywords = [\n  \"bukhaar\", \"bukhar\", \"khansi\", \"sardee\", \"dard\", \"pet\", \"sir\",\n  \"बुखार\",\"खांसी\",\"सर्दी\",\"दर्द\",\"चोट\",\"जाँच\",\"checkup\",\"चेकअप\",\n  \"उल्टी\",\"दस्त\",\"सिरदर्द\",\"पेट दर्द\",\"कमर दर्द\",\"आँख\",\n  \"कान\",\"गला\",\"दांत\",\"एलर्जी\",\"डायबिटीज\",\"ब्लड प्रेशर\",\n  \"शुगर\",\"सांस\",\"थकान\",\"बीपी\",\"BP\",\"fever\",\"dikhana\",\"दिखाना\",\"checkup\",\"pain\",\"दवाई\"\n  \n];\nfor (const kw of medicalKeywords) {\n  if (transcript.toLowerCase().includes(kw.toLowerCase())) {\n    slots.reason = kw;\n    break;\n  }\n}\nif (!slots.reason) {\n  const reasonMatch = transcript.match(/(?:के\\s+लिए|की\\s+समस्या|तकलीफ)\\s*(.{0,30})/);\n  if (reasonMatch) slots.reason = reasonMatch[0].trim();\n}\n\n// --- MISSING SLOTS ---\n// Merge with previous turn's slots\nslots.name   = (slots.name   && slots.name   !== \"\") ? slots.name   : (prevName   || null);\nslots.date   = (slots.date   && slots.date   !== \"\") ? slots.date   : (prevDate   || null);\nslots.reason = (slots.reason && slots.reason !== \"\") ? slots.reason : (prevReason || null);\nslots.booking_for = (slots.booking_for && slots.booking_for !== \"Self\") ? slots.booking_for : (prevBookingFor || slots.booking_for || \"Self\");\nslots.attempt = attempt;\n\n// Carry forward merged values as prev for next turn\nslots.prev_name   = slots.name   || \"\";\nslots.prev_date   = slots.date   || \"\";\nslots.prev_reason = slots.reason || \"\";\n\n\n\n// --- TIME SLOT EXTRACTION ---\nconst timePatterns = [\n  { re: /(?:subah|सुबह)\\s*(\\d{1,2})\\s*(?:baje|बजे|baj|am|AM)?/i,     period: \"Morning\",   offset: 0  },\n  { re: /(?:dopahar|दोपहर)\\s*(\\d{1,2})\\s*(?:baje|बजे|baj)?/i,         period: \"Afternoon\", offset: 12 },\n  { re: /(?:shaam|शाम|sham)\\s*(\\d{1,2})\\s*(?:baje|बजे|baj|pm|PM)?/i,  period: \"Evening\",   offset: 12 },\n  { re: /(?:raat|रात)\\s*(\\d{1,2})\\s*(?:baje|बजे|baj)?/i,              period: \"Night\",     offset: 12 },\n  { re: /\\bmorning\\s*(\\d{1,2})/i,   period: \"Morning\",   offset: 0  },\n  { re: /\\bafternoon\\s*(\\d{1,2})/i, period: \"Afternoon\", offset: 12 },\n  { re: /\\bevening\\s*(\\d{1,2})/i,   period: \"Evening\",   offset: 12 },\n  { re: /\\bnight\\s*(\\d{1,2})/i,     period: \"Night\",     offset: 12 },\n];\n\nconst wordNums = {\n  \"ek\":1,\"do\":2,\"teen\":3,\"chaar\":4,\"paanch\":5,\"chhah\":6,\n  \"saat\":7,\"aath\":8,\"nau\":9,\"das\":10,\"gyarah\":11,\"barah\":12,\n  \"एक\":1,\"दो\":2,\"तीन\":3,\"चार\":4,\"पाँच\":5,\"छह\":6,\n  \"सात\":7,\"आठ\":8,\"नौ\":9,\"दस\":10,\"ग्यारह\":11,\"बारह\":12\n};\n\nconst periodOnly = [\n  { words: [\"subah\",\"सुबह\",\"morning\"],      slot: \"Morning\",   display: \"Morning (9:00-12:00)\"   },\n  { words: [\"dopahar\",\"दोपहर\",\"afternoon\"], slot: \"Afternoon\", display: \"Afternoon (12:00-16:00)\" },\n  { words: [\"shaam\",\"शाम\",\"sham\",\"evening\"],slot: \"Evening\",   display: \"Evening (16:00-19:00)\"  },\n  { words: [\"raat\",\"रात\",\"night\"],          slot: \"Night\",     display: \"Night (19:00-21:00)\"    },\n];\n\nslots.time_slot = null;\nslots.time_slot_display = null;\n\nfor (const p of timePatterns) {\n  const m = transcript.match(p.re);\n  if (m) {\n    let hour = parseInt(m[1]);\n    if (hour >= 1 && hour <= 12) {\n      const h24 = (p.offset === 12 && hour < 12) ? hour + 12 : hour;\n      const hh = String(h24).padStart(2, \"0\");\n      slots.time_slot         = `${p.period} ${hh}:00`;\n      slots.time_slot_display = `${p.period} ${hh}:00`;\n      break;\n    }\n  }\n}\n\nif (!slots.time_slot) {\n  for (const p of periodOnly) {\n    if (p.words.some(w => transcript.toLowerCase().includes(w.toLowerCase()))) {\n      slots.time_slot         = p.slot;\n      slots.time_slot_display = p.display;\n      break;\n    }\n  }\n}\n\nconst prevTimeSlot      = $input.first().json.prev_time_slot || null;\nslots.time_slot         = (slots.time_slot && slots.time_slot !== \"\") ? slots.time_slot : (prevTimeSlot && prevTimeSlot !== \"\" ? prevTimeSlot : null);\nslots.time_slot_display = slots.time_slot_display || slots.time_slot || null;\nslots.prev_time_slot    = slots.time_slot || \"\";\n// --- MISSING SLOTS ---\nslots.missing = [];\nif (!slots.name   || slots.name   === \"\") slots.missing.push({ field: \"name\",      hindi: \"आपका नाम\" });\nif (!slots.date   || slots.date   === \"\") slots.missing.push({ field: \"date\",      hindi: \"अपॉइंटमेंट की तारीख\" });\nif (!slots.time_slot || slots.time_slot === \"\") slots.missing.push({ field: \"time_slot\", hindi: \"कौन से समय पर आना है, सुबह या शाम\" });\nif (!slots.reason || slots.reason === \"\") slots.missing.push({ field: \"reason\",    hindi: \"बीमारी का कारण\" });\n\nslots.all_collected = slots.missing.length === 0;\nreturn [{ json: slots }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -192
      ],
      "id": "371ff870-2d61-4b07-9962-e567b109c93f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7505c051-7261-4f44-8b18-bf04cd58f8f9",
              "leftValue": "={{ $json.all_collected }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        -96
      ],
      "id": "f3e6ff1d-6eb3-4c89-8197-0b57081b4a01",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst missing = input.missing || [];\n\nfunction buildQuestion(missingSlots) {\n  if (missingSlots.length === 0) return null;\n  const first = missingSlots[0].field;\n  const questions = {\n    name:   \"क्षमा करें, मुझे आपका नाम सुनाई नहीं दिया। कृपया अपना पूरा नाम बताएं।\",\n    date:   \"धन्यवाद! अब कृपया बताएं आप किस तारीख को अपॉइंटमेंट लेना चाहते हैं?\",\n    reason: \"ठीक है! कृपया बताएं आपको किस समस्या के लिए डॉक्टर से मिलना है?\"\n  };\n  return questions[first] || `कृपया अपना ${missingSlots[0].hindi} बताएं।`;\n}\n\nconst question = buildQuestion(missing);\nconst attempt = parseInt(input.attempt || \"1\") + 1;\n\nif (attempt > 3) {\n  return [{ json: {\n    twiml: `<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Say language=\"hi-IN\">क्षमा करें, कृपया बाद में कॉल करें।</Say><Hangup/></Response>`,\n    gave_up: true\n  }}];\n}\n\nconst prevName   = encodeURIComponent(input.name   || input.prev_name   || \"\");\nconst prevDate   = encodeURIComponent(input.date   || input.prev_date   || \"\");\nconst prevReason = encodeURIComponent(input.reason || input.prev_reason || \"\");\nconst prevTimeSlot   = encodeURIComponent(input.time_slot || input.prev_time_slot || \"\");\nconst prevBookingFor = encodeURIComponent(input.booking_for || input.prev_booking_for || \"\");\n\nconst actionUrl = `https://tannish13.app.n8n.cloud/webhook/gather?prev_name=${prevName}&prev_date=${prevDate}&prev_reason=${prevReason}&prev_booking_for=${prevBookingFor}&prev_time_slot=${prevTimeSlot}&attempt=${attempt}`;\n\nconst twiml = `<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Gather input=\"speech\" language=\"hi-IN\" speechTimeout=\"5\" action=\"${actionUrl}\" method=\"POST\"><Say language=\"hi-IN\">${question}</Say></Gather><Say language=\"hi-IN\">क्षमा करें, कृपया दोबारा कॉल करें।</Say></Response>`;\n\nreturn [{ json: { twiml, question_asked: question, attempt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        0
      ],
      "id": "9ecf31b0-81ee-4010-b95a-b46218b3dda1",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.twiml }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1424,
        0
      ],
      "id": "71aa7a4a-7e7d-464b-9b3b-0a5c2b2635ff",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1X9V0kStLAgYrOjH2HmG3pRM9IpWAopS4bjyv82MSgH8",
          "mode": "list",
          "cachedResultName": "Doctor Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X9V0kStLAgYrOjH2HmG3pRM9IpWAopS4bjyv82MSgH8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X9V0kStLAgYrOjH2HmG3pRM9IpWAopS4bjyv82MSgH8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toLocaleString('hi-IN', {timeZone:'Asia/Kolkata'}) }}",
            "Patient Name": "={{ $json.name }}",
            "Phone Number": "={{ $json.phone }}",
            "Appointment Date": "={{ $json.date }}",
            "Medical Reason": "={{ $json.reason }}",
            "Raw Transcript": "={{ $json.raw_text }}",
            "Call SID": "={{ $json.call_sid }}",
            "Status": "Confirmed",
            "Booking For": "={{ $json.booking_for }}",
            "Time Slot": "={{ $json.time_slot_display }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Name",
              "displayName": "Patient Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Date",
              "displayName": "Appointment Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medical Reason",
              "displayName": "Medical Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Raw Transcript",
              "displayName": "Raw Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call SID",
              "displayName": "Call SID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Booking For",
              "displayName": "Booking For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time Slot",
              "displayName": "Time Slot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -192
      ],
      "id": "1f91f74d-f369-4613-8825-ad8cef5e4fcd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A5A2uSNwdsTUUjUG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Code in JavaScript').first().json;\n\nconst name        = data.name        || \"Unknown\";\nconst date        = data.date        || \"Not provided\";\nconst reason      = data.reason      || \"Not provided\";\nconst phone       = data.phone       || \"Not provided\";\nconst booking_for = data.booking_for || \"Self\";\nconst time_slot  = data.time_slot_display || data.time_slot || \"Not provided\";\nconst booking_for_text = booking_for === \"Self\" ? \"खुद के लिए\" : `${booking_for} ke liye`;\nconst voice_confirmation = `${name} ji, aapki appointment ${date} ko ${time_slot} ke liye book ho gayi hai. ${booking_for === \"Self\" ? \"\" : booking_for + \" ke liye.\"} Dhanyavaad!`;\nconst twiml = `<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Say language=\"hi-IN\">${voice_confirmation}</Say><Hangup/></Response>`;\n\nconst message = \"New Appointment Booking\\n\\n\" +\n  \"Patient Name: \" + name + \"\\n\" +\n  \"Phone Number: \" + phone + \"\\n\" +\n  \"Appointment Date: \" + date + \"\\n\" +\n  \"Time Slot: \" + time_slot + \"\\n\" +\n  \"Medical Reason: \" + reason + \"\\n\" +\n  \"Booking For: \" + booking_for_text + \"\\n\\n\" +\n  \"Booked via AI Voice Bot\\n\" +\n  \"Time: \" + new Date().toLocaleString('en-IN', {timeZone:'Asia/Kolkata'});\n\nreturn [{ json: { ...data, whatsapp_message: message, voice_confirmation: voice_confirmation, twiml: twiml } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -192
      ],
      "id": "c1b6e326-d69f-4da0-b957-49d3680577f3",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC2d8eb1e3c688caf7396fc5f1c89fb501/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "whatsapp:+919760849372"
            },
            {
              "name": "Body",
              "value": "={{ $json.whatsapp_message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1664,
        -192
      ],
      "id": "abe313ae-1cfa-4338-86f0-d116b14b3a10",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "wn5j6xNwikVeY5HO",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.twiml }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2080,
        -192
      ],
      "id": "f8849ebd-9cd1-41bd-9310-5b465e3b7f6d",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1efb16be-77d7-40a0-97b7-0e9821d36f9f",
              "name": "twiml",
              "value": "={{ $('Code in JavaScript2').first().json.twiml }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        -192
      ],
      "id": "783a39b4-097f-4ee4-b26f-5e17108853b1",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d2b8cb5f-ca86-470e-90e3-8f3decd6480d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f9cfea5765b097dd2a9de6ff90fcd4908fc0f6c79a93c5dd7a471f7637b8129"
  },
  "id": "NDnXKJiMPP7RDdFb",
  "tags": []
}
